body { 
    background: black !important; 
}

img {
  display: block;
  max-width:800px;
  max-height:600px;
  width: auto;
  height: auto;
}

.butt{
    background: gray
}
.x-axis path, .x-axis line{
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.x-axis-label{
    font: 16px sans-serif;
    color: #fff;
}

.header-index {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.header-index video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header-index .container {
    position: relative;
    z-index: 2;
}

.header-index .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    .header-index {
        background: url('images-assets.nasa.gov/image/S112E05823/S112E05823~orig.jpg') black no-repeat center center scroll;
    }
    .header-index video {
        display: none;
    }
}